{% extends 'layout.html' %}

{% block title %}
<title>Edit -TaskMate</title>
{% endblock title %}

{% block content %}
<div class="container">
<br>
<form method="POST" class="row">
     {% comment %} safety purposes {% endcomment %}
    {% csrf_token %}
        <div class="col-lg-2"></div>
        <input type="text" class="form-control col-lg-6" placeholder={{task_obj.task}} name="task" value="{{task_obj.task}}">
        <input type="hidden" name="done" value="{{task_obj.done}}">
        <button type="submit" class="btn btn-primary col-lg-2">Update ? </button>
        <div class="col-lg-2"></div>
    </form>
</div>
{% endblock content %}